@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,100;1,8..144,200;1,8..144,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", sans-serif;
}
header{
    height: 15vh;
    background-color:#252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 13vw;
    color: white;
    margin-left: 3rem;
}
h3:hover{
    color: #EB4A7B;
}
header nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 10vw;
    align-items: center;
    margin-right: 3rem;
}
.logo{
    width: 40px;
}
.nav{
    width: 30px;
}
section{
    display: flex;
    justify-content: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 120vh;
}
.Primeira{
    background-image: url(assets/lulu-web.png);
}
.Primeira div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
    font-size: 18px;
    color: white;
    width: 40vw;
}
h2{
    margin-bottom: 20px;
    font-size: 48px;

}
p{
    font-size: 22px;
    letter-spacing: 1px;
    width: 28vw;
    margin-top:1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
.pata{
    width: 8vw;
}
.Segunda{
    background-image: url(assets/pitbull-web.png);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Segunda div{
    margin-left: 5rem;
    color: #3A342F;
    width: 35vw;
    height: 50%;
}

button{
    padding: 20px;
    border-radius: 40px;
    width: 18vw;
    border: none;
    font-size: 22px;
    color: white;
    background-color:#3A342F ;
    font-weight: 500;
}
button:hover{
    background-color: #EB4A7B;
}
.Terceira{
    background-image: url(assets/pincher-web.png);
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.Terceira div{
    width: 35vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    color: #F4F2F3;
    margin-right:5rem;
}
.bot2{
    color: #252525;
    background-color: white;
}
.bot2:hover{
    background-color: #852844;
    color: #FFFFFF;
}
.Quarta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.Quarta div{
    display: flex;
    justify-content: space-between;
    width:50vw ;
}
.Quarta h3{
    color: #FD6A9A;
    font-size: 24px;
    font-weight:200;
    font-family: "Roboto Serif";
    font-style:italic;
}
footer{
    background-color: #EB4A7B;
    color: #FFFFFF;
    height: 35vh;
}
footer nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    margin-left: 8rem;
}
footer h2{
    font-size: 24px;
    text-align: center;
    margin-top: 3rem;
}
footer li{
    list-style: none;
    font-weight: 100;
    line-height: 25px;
    font-size: 12px;

}
@media(max-width:500px){
    .mobile{
        display: none;
    }
    header div{
        font-size: 20px;
        margin-left:6rem;
    }
    .pata{
        width: 25vw;
    }
    .nav{
        width: 30px;
    }
    .Primeira{
        background-image: url(assets/lulu-mobile.png);
    }
    .Primeira h2{
        font-size: 29px;
        margin-bottom: 2rem;
    }
    .Primeira div{
        background-attachment: fixed;
        width: 80vw;
        margin-top: 11rem;
    }
    .Segunda{
        background-image: url(assets/pitbull-mobile.png);
    }
    .Segunda div{
        margin-bottom: 150px;
        margin-left: 2rem;
    }
    .Segunda h2{
        flex-direction: row;
        width: 80vw;
        font-size: 32px;
    }
    .Segunda p{
        font-size: 20px;
        flex-direction: row;
        width: 90vw;
    }
    .Segunda button{
        width: 40vw;
        font-size: 15px;
    }
    .Terceira{
        background-image: url(assets/pincher-mobile.png);
    }
    .Terceira div{
        margin-bottom: 150px;
        width: 100vw;
    }
    .Terceira h2{
        flex-direction: row;
        width: 80vw;
        font-size: 28px;
        margin-left: 7rem;
    }
    .Terceira p{
        font-size: 20px;
        flex-direction: row;
        width: 80vw;
        margin-left: 7rem;
    }
    .Terceira button{
        width: 40vw;
        font-size: 15px;
        margin-left: 7rem;
    }
    .Quarta{
        flex-direction: column;
        height: 20vh;
        width: 80vw;
        border: 2px solid;
    }
    .Quarta h3{
        font-size:15px;
    }
    .Quarta img{
        margin: 10px 30px;
        width: 18vw;
    }
    footer{
        height: 100vh;
    }
    footer nav{
        margin-left: 1rem;
    }
    .navegacao{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .navegacao h2{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .navMobile{
      display: block;
    }

    .navMobile img{
        width: 5vw;
    }
    .title{
        display: flex;
        margin-top: 20px;
        height: 10vh;
    }
    .title img{
        margin-right: 10px;
        margin-top: 1rem;
        width: 20vw;
        height: 10vh;
        padding: 15px;
        align-items: center;
    }
}